*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-bg: hsl(222, 26%, 31%);
  --display-bg: hsl(224, 36%, 15%);
  --keypad-bg: hsl(223, 31%, 20%);

  --key-color: hsl(60, 10%, 19%);
  --main-color: white;

  --key-bg: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);
  --key-hover: #fffffe;

  --calculate-key: hsl(25, 98%, 40%);
  --calculate-key-shadow: hsl(25, 99%, 27%);
  --calculate-key-hover: #f96b5b;
  --calculate-color: #ffffff;

  --reset-key: #637198;
  --reset-key-shadow: #404e73;
  --reset-key-hover: #a2b2e1;

  --switch-track: hsl(223, 31%, 20%);
  --switch-btn: #d03f2f;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;

  background-color: var(--main-bg);

  font-family: "Spartan", sans-serif;

  padding-top: 4rem;

  color: var(--text-1);

  &.them-1 {
    --main-bg: hsl(222, 26%, 31%);
    --display-bg: hsl(224, 36%, 15%);
    --keypad-bg: hsl(223, 31%, 20%);

    --key-color: hsl(60, 10%, 19%);
    --main-color: white;

    --key-bg: hsl(45, 7%, 89%);
    --key-shadow: hsl(35, 11%, 61%);
    --key-hover: #fffffe;

    --calculate-key: hsl(25, 98%, 40%);
    --calculate-key-shadow: hsl(25, 99%, 27%);
    --calculate-key-hover: #f96b5b;
    --calculate-color: #ffffff;

    --reset-key: #637198;
    --reset-key-shadow: #404e73;
    --reset-key-hover: #a2b2e1;

    --switch-track: hsl(223, 31%, 20%);
    --switch-btn: #d03f2f;
    --switch-btn-hover: #f96b5b;
  }

  &.theme-2 {
    --main-bg: hsl(0, 0%, 90%);
    --display-bg: hsl(0, 0%, 93%);
    --keypad-bg: hsl(0, 5%, 81%);

    --key-color: #36362c;
    --main-color: #36362c;

    --key-bg: hsl(45, 7%, 89%);
    --key-shadow: hsl(35, 11%, 61%);
    --key-hover: #fffffe;

    --calculate-key: hsl(25, 98%, 40%);
    --calculate-key-shadow: hsl(25, 99%, 27%);
    --calculate-key-hover: #f96b5b;
    --calculate-color: #ffffff;

    --reset-key: hsl(185, 42%, 37%);
    --reset-key-shadow: hsl(185, 58%, 25%);
    --reset-key-hover: #62b5bc;

    --switch-track: hsl(0, 5%, 81%);
    --switch-btn: #c85402;
    --switch-btn-hover: #ff8a38;
  }

  &.theme-3 {
    --main-bg: hsl(268, 75%, 9%);
    --display-bg: hsl(268, 71%, 12%);
    --keypad-bg: hsl(268, 71%, 12%);

    --key-color: #ffe53d;
    --main-color: #ffe53d;

    --key-bg: hsl(268, 47%, 21%);
    --key-shadow: hsl(290, 70%, 36%);
    --key-hover: #6c35ac;

    --calculate-key: hsl(176, 100%, 44%);
    --calculate-key-shadow: hsl(177, 92%, 70%);
    --calculate-key-hover: #93fff8;
    --calculate-color: #1a2327;

    --reset-key: hsl(281, 89%, 26%);
    --reset-key-shadow: hsl(285, 91%, 52%);
    --reset-key-hover: #8631af;

    --switch-track: hsl(268, 71%, 12%);
    --switch-btn: hsl(176, 100%, 44%);
    --switch-btn-hover: #93fff8;
  }
}

.content {
  width: 100%;
  max-width: 33.75rem;
}

button {
  font-size: 1.25rem;
  line-height: 22px;
  letter-spacing: -0.33px;
  cursor: pointer;
  font-variant-numeric: tabular-nums;
  font-family: inherit;
  border-radius: 10px;

  border: 0;
  padding: 0;
  margin: 0;

  background-color: var(--key-bg);
  box-shadow: inset 0px -4px 0px var(--key-shadow);
  color: var(--key-color);

  &:hover {
    background-color: var(--key-hover);
  }

  &[data-action="delete"],
  &[data-action="clear"] {
    background-color: var(--reset-key);
    box-shadow: inset 0px -4px 0px var(--reset-key-shadow);
    color: white;

    &:hover {
      background-color: var(--reset-key-hover);
    }
  }

  &[data-action="calculate"] {
    background-color: var(--calculate-key);
    box-shadow: inset 0px -4px 0px var(--calculate-key-shadow);
    color: var(--calculate-color);

    &:hover {
      background-color: var(--calculate-key-hover);
    }
  }
}

h1 {
  margin: 0;
}
