*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-bg: hsl(222, 26%, 31%);
  --display-bg: hsl(224, 36%, 15%);
  --keypad-bg: hsl(223, 31%, 20%);

  --text-1: white;
  --color-2: hsl(60, 10%, 19%);

  --key-bg: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);
  --key-hover: #fffffe;

  --calculate-key: hsl(25, 98%, 40%);
  --calculate-key-shadow: hsl(25, 99%, 27%);
  --calculate-key-hover: #f96b5b;

  --reset-key: #637198;
  --reset-key-shadow: #404e73;
  --reset-key-hover: #a2b2e1;

  --switch-track: hsl(223, 31%, 20%);
  --switch-btn: #d03f2f;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;

  background-color: var(--main-bg);

  font-family: "Spartan", sans-serif;

  padding-top: 4rem;

  color: var(--text-1);
}

.content {
  width: 100%;
  max-width: 33.75rem;
}

button {
  font-size: 1.25rem;
  line-height: 22px;
  letter-spacing: -0.33px;
  cursor: pointer;
  font-variant-numeric: tabular-nums;
  font-family: inherit;
  border-radius: 10px;

  border: 0;
  padding: 0;
  margin: 0;

  background-color: var(--key-bg);
  box-shadow: inset 0px -4px 0px var(--key-shadow);

  &:hover {
    background-color: var(--key-hover);
  }

  &[data-action="delete"],
  &[data-action="clear"] {
    background-color: var(--reset-key);
    box-shadow: inset 0px -4px 0px var(--reset-key-shadow);
    color: white;

    &:hover {
      background-color: var(--reset-key-hover);
    }
  }

  &[data-action="calculate"] {
    background-color: var(--calculate-key);
    box-shadow: inset 0px -4px 0px var(--calculate-key-shadow);
    color: white;

    &:hover {
      background-color: var(--calculate-key-hover);
    }
  }
}

h1 {
  margin: 0;
}
