.header {
  margin-bottom: 2rem;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    div {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      label {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 14px;
      }

      .gui-switch {
        appearance: none;
        margin: 0;
        padding: 0;

        inline-size: 4.4375rem;
        block-size: 1.625rem;
        border-radius: 0.8125rem;
        background-color: #242d44;

        position: relative;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;

          block-size: 1rem;
          inline-size: 1rem;
          border-radius: 100%;
          background-color: #d03f2f;

          top: 50%;
          transform: translateY(-50%);
          left: 5px;
        }
      }
    }
  }
}

//https://jsfiddle.net/nop1984/r54mejq6/